.circle-image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    color:white;
    text-align: center;
}

.box {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    display: inline-block;
    width: 1800px;
    height: 350px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: #a9a9a9;
    color: white;
}

.card {
    display: inline-block;
    width: 100%;
    height: 400;
    text-align: center;
    background-color: #f5f5f5;
    border: none;
}

.card-s {
    display: inline-block;
    width: 360px; 
    height: 250px;
    margin-top: 50px;
    background-color: white; 
    margin-right: 20px auto;
    margin-left: 20px auto;
}

.card-img {
    text-align: center;
    margin-top: 10px;
    width: 340px;
    height: 100px;
}


.card-title {
    text-align: left;
    font-size: 14px;
}

.card-text {
    text-align: left;
    font-size: 10px;
}