.table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    padding: 2;
    width: 80%;
    position: absolute;
  }
  th{
    text-align: center;
    border-bottom: 1px solid #444444;
    padding: 10px;
  }

  td {
    text-align: left;
    border-bottom: 1px solid #444444;
    padding: 10px;
  }